// Our Theme Colors
$primary-blue: #2196F3;
$p-dark-blue: #1976D2;
$p-dark-alt: #0069c0;
$p-light-blue: #BBDEFB;
$p-light-alt: #6ec6ff;
$accent-blue: #03A9F4;
$text-icons: #FFFFFF;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;
