@font-face {
  font-family: "Aclevo Sans";
  src: url(../fonts/AclevoSans-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "Aclevo Sans";
  src: url(../fonts/AclevoSans-Thin.ttf) format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: "Aclevo Sans";
  src: url(../fonts/AclevoSans-Bold.ttf) format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: "Aclevo Sans";
  src: url(../fonts/AclevoSans-UltraBold.ttf) format('truetype');
  font-weight: 800;
}
