@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

@import './fonts.scss';

.main {
  display: flex;
  min-height: 70vh;
  flex-direction: column;
}

@import './post.scss';

@import './colors.scss';

.hero {
  background-color: $p-light-alt;
  margin-bottom: 2rem;
}

.about-us {
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.about-us h1 {
  font-size: 1.5rem;
}

@import './overrides.scss';

@import './nav.scss';

@import '~bulma'
